<launch>
	
	<include file="$(find rex_gridmapping)/launch/visualization.launch" />

 	<node pkg="rex_gridmapping" type="rex_gridmapping" name="rex_gridmapping" output="screen">
    	 <rosparam command="load" file="$(find rex_gridmapping)/config/robots/robot_rex.yaml" />
    	 <rosparam command="load" file="$(find rex_gridmapping)/config/elevation_maps/elev_rex.yaml" />
    	 <rosparam command="load" file="$(find rex_gridmapping)/config/sensor_processors/perfect.yaml" />
    </node>

</launch>